
.ascii_carosel{
    white-space: pre;
    width: 25vw;
    transform: scale(25vw); 
    /* letter-spacing: 1px;
    line-height: 6px;
    font-size: 9px; */
}
.ascii_carosel_image_container{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}
.ascii_carosel_image{
    letter-spacing: 2px;
    line-height: 6px;
    font-size: 7px;
    padding: auto;
}
.ascii_carosel_controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ascii_carosel_info{
    display: flex;
    flex-direction: row;
}
.ascii_carosel_caption{
    opacity: 0.7;
}
.control_btn{
    border: none;
    padding: 0 5px;
    cursor: pointer;
}
.control_btn::before{
    content: "◦"
}
.control_btn_active::before{
    content: "⦿"
}
.control_btn:hover::before{
    content: "⦾"
}