.content_main{
    margin-top: 100vh;
}

.content_container{
    color: #00cdd5;
    padding: 20px;
    margin: 20px;
    /* border-radius: 5px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
.content_double_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
.title{
    font-size: 13px;
    text-align: left;
}
.horizontal_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.text_right{
    text-align: right;
    padding: 0 0 0 30vw;
    width: 30vw;
}
.text_left{
    text-align: left;
    padding: 0 40vw 0 0;
    width: 30vw;
}
.text_middle{
    text-align: center;
    padding: 0 0 0 0;
    width: 30vw;
}
.emphasis{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    color: #00cdd5;
}
