.navbar_container{
    width: 100%;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    /* background-color: #061434; */
    color: white;
}

.navbar_text {
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar_text {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar_text:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}

/* media rule*/

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        padding: 0 1rem;
    }
    .navbar_text{
        margin-bottom: 1rem;
    }
    .navbar_text:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}