.bg{
    /* background-color: #030b1d; */
    background: linear-gradient(180deg, #162049 0%, #0a2449 100%);
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 145px;
    z-index: -100;
    border-radius: 25px;
}

.main{
    text-align: left;
    font-weight: 40; 
    line-height: 18px; 
    white-space: pre;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    left: 40px;
    top: 40px;
    right: 40px;
    bottom: 40px;
    pointer-events: none;
    border-radius: 25px;
}

.grid{
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 145px;
    border-radius: 25px;
    background-size: 3px 3px;
    mix-blend-mode: multiply;
}

.grid.r{
    background-image: radial-gradient(#ff0000 5%, transparent 0);
}

.grid.g{
    background-image: radial-gradient(#00ff00 5%, transparent 0);
    translate: 1px 0px;
}

.grid.b{
    background-image: radial-gradient(#0000ff 5%, transparent 0);
    translate: 2px 0px;
}