.App {
  text-align: center;
  font-family: Consolas, monaco, monospace; 
  font-style: normal; 
  font-variant: normal; 
  font-size: 18px; 
  font-weight: 40; 
  overflow-x: hidden;
  
  /*line-height: 18px; */
}

.Background{
  /* background-color: #060522; */
  background: linear-gradient(-45deg, #1c5552, #28165a, #060522, #0c473a);
  /* background: linear-gradient(-45deg, #103130, #130a2b, #060522, #072720); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: fixed;
  z-index: -100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main_page{
  position: absolute;
  width: 100%;
  top: 900px;
  display: flex;
  flex-direction: column;
}
.pfp{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 370px;
  left: 20vw;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media screen and (max-width: 1700px){
  .pfp{
    /* top: 200px; */
    left: 15vw;
  }
}
@media screen and (max-width: 1500px){
  .pfp{
    /* top: 200px; */
    left: 10vw;
  }
}

@media screen and (max-width: 1300px){
  .pfp{
    /* top: 200px; */
    left: 5vw;
  }
}

@media screen and (max-width: 1200px){
  .pfp{
    top: 200px;
  }
}

.pfp > img{
  object-fit: contain;
  scale: 0.3;
  translate : 0px 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e4451;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00cdd5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00cdd5;
}